$mainPink: #fc54ff;
$mainPurple: #9600ff;
$mainBlue: #34e1fb;
$mainMedBlue: #00b8ff;
$mainLightBlue: #00fff9;
$mainDarkGrey: #131517;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.purple_grad {
  background-image: linear-gradient(to bottom right, $mainPink, $mainBlue) !important;
}


.response-body {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

body {
  display: flex !important;
  min-height: 100% !important;
  flex-direction: column !important;
  font-family: 'Quicksand', sans-serif !important;
}

main {
  flex: 1 !important;
}

h1 {
  font-family: 'Dosis', sans-serif !important;
  color: $mainMedBlue;
  border-bottom: 1.5px solid $mainMedBlue;
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 3px solid grey;
  border-top-color: $mainPurple;
  animation: spin 0.7s linear infinite;
  z-index: 99;
  display: visible;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.screen-fill {
  width: 100vh;
  height: 100vh;
}

.title {
  display: inline-block;
  position: relative;
  font-family: 'Dosis', sans-serif !important;
  font-size: 48pt;
  width: 100%;
  color: $mainPurple;
  margin: 50px 0 0 0;

  &-underline {
    display: block;
    border-bottom: 2px solid darkgrey;
    font-family: 'Dosis', sans-serif !important;
    font-size: 42pt;
  }

  &-icon {
    display: inline-block;
    position: relative;
    height: 50px;
    margin: 0px 20px 0px 20px;
  }

}


.subtitle {
  display: block;
  position: relative;
  text-align: center;
  font-family: 'Dosis', sans-serif !important;
  font-size: 28pt;
  width: 100%;
  color: $mainDarkGrey;

  &-small {
    font-size: 20pt;
    margin: 30px 0 0 0;
    color: $mainDarkGrey;
    text-align: left;
  }

}

.button-row {
  display: flex;
  justify-content: start;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  margin: 20px 0 40px 0;
}

.button {
  border-radius: 10px;
  border: 1px solid $mainPink;
  flex: 1;
  height: 60px;
  text-align: center;
  font-size: 13pt;
  color: $mainPurple;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
  

.blank-tile-1 {
  flex: 1;
  margin: 0 20px;
}

.blank-tile-2 {
  flex: 2;
  margin: 0 40px;
}

.space-around {
  margin: 60px 0 30px 0;
}

.section {
  display: inline-block;
  margin: 40px 0px 20px 0;
  padding: 100px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  box-shadow: 1px 2px 3px grey;
}

.section-content {
  margin-bottom: 40px;
}

.text-center {
  text-align: center;
}

.image {
  display: inline-block;
  position: relative; 
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.border-div {
  display: block;
  position: relative;
  margin-top: 50px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid $mainPurple;
  box-shadow: 1px 2px 3px $mainPurple;
  border-radius: 10px;
}